<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Volver</ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-label position="floating">Correo Institucional</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input 
          [type]="passwordVisible ? 'text' : 'password'" 
          formControlName="newPassword"></ion-input>
        <ion-icon 
          name="{{ passwordVisible ? 'eye' : 'eye-off' }}" 
          slot="end" 
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input 
          [type]="confirmPasswordVisible ? 'text' : 'password'" 
          formControlName="confirmPassword"></ion-input>
        <ion-icon 
          name="{{ confirmPasswordVisible ? 'eye' : 'eye-off' }}" 
          slot="end" 
          (click)="toggleConfirmPasswordVisibility()"></ion-icon>
      </ion-item>

      <ion-button expand="full" type="submit">Recuperar</ion-button>

      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

      <div *ngIf="successMessage" class="message">
        <p>{{ successMessage }}</p>
      </div>
    </form>
  </div>
</ion-content>
