<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!noAsistencias; else noAsistenciasTemplate">
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>
        <h2>{{ asignatura.nombre }}</h2>
        <p>Asistencia: {{ asignatura.asistencia }}/{{ asignatura.totalClases }}</p>
        <p *ngIf="asignatura.totalClases > 0">Porcentaje de Asistencia: {{ calcularPorcentaje(asignatura.asistencia, asignatura.totalClases) }}%</p>
        <p *ngIf="asignatura.totalClases === 0">Porcentaje de Asistencia: 0%</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noAsistenciasTemplate>
    <ion-item>
      <ion-label>
        <h2>No se han encontrado asistencias</h2>
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>
